@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #0D0D0D, #011140);
}

body {
    text-align: center;
    margin: auto;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.801);
    width: 800px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #000000 ;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 10px;
}