@charset "UTF-8";

/* em HTML é id = em CSS é #
/* em HTML é class = em CSS é .
*/


body {
    background-color: #2D3E40;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #387373;
}

h1#Principal {
    text-align: center;
    background-color: #387373;
    color: white;
}

h2 {
    color: #93BFB7;
}

.basico {
    color: #93BFB7;
}

.intermediario{
    color: #97A6A0;
}

.avançado{
    color: #E4F2E7;
}

.destaque{
    background-color: rgb(0, 0, 0);
}